@model WebShop.ModelViews.ChangePasswordViewModel

    <div class="myaccount-details">
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
            <div class="myaccount-form-inner">
                <div class="single-input">
                    <label>Mật khẩu hiện tại</label>
                    <input asp-for="PasswordNow" type="password">
                </div>
                <div class="single-input">
                    <label>Mật khẩu mới</label>
                    <input asp-for="Password" type="password">
                </div>
                <div class="single-input">
                    <label>Nhập lại mật khẩu mới</label>
                    <input asp-for="ConfirmPassword" type="password">
                </div>
                <div class="single-input">
                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                        <span>Lưu thay đổi</span>
                    </button>
                </div>
            </div>
        </form>
    </div>