@*@model List<Order>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Ngày mua hàng</th>
                    <th>Ngày ship hàng</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderId</a></td>
                        <td>@item.OrderDate</td>
                        <td>@item.ShipDate</td>
                        <td>@item.TransactStatus.Status</td>
                        <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                        <td>
                            <a href="javascript:void(0)" class="xemdonhang"><span>Xem đơn hàng</span></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <div id="records_table">

        </div>
    </div>
}
else
{
    <p>Chưa có đơn hàng!</p>
}*@
