@model WebShop.Models.Role

@{
    ViewData["Title"] = "Thông tin quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Thông tin quyền truy cập</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Thông tin quyền truy cập</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                </tr>
                <tr>
                    <td>Tên quyền truy cập:</td>
                    <td>@Model.RoleName</td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td>@Model.Description</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>