<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/assets/images/logo/dark.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">CÔNG TY XUẤT NHẬP KHẨU PDUY</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    24/52 Yên Lạc, Quận Hai Bà Trưng, Hà Nội
                                </li>
                                <li>
                                    <i class="fa fa-mobile" ></i>
                                    <a href="tel:0963102916">096.310.2916</a>
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://duongphuongduy1996@gmail.com">duongphuongduy1996@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="/assets/images/payment/2.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Shipping</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Returns</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Order Status</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Gift Card Balance</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Accessibility</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Tài khoản của tôi</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">My Account</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Checkout</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Validation</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Terms of Use</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© Shop thực phẩm sạch Made With <i class="fa fa-heart text-danger"></i> By  Phương Duy </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>